.header {
    height: 50%;
}

.navbar  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.navbar__logo-container {
    display: flex;
    justify-content: flex-start;
}

.navbar__menuBtn-container {
    display: flex;
    justify-content: flex-end;
}

.navbar__logo-container ion-icon, .navbar__menuBtn-container ion-icon {
    font-size: 3rem;
    padding: 0.5rem;
}

.navbar__menu-container {
    grid-column: 1 / -1;
    text-align: center;
    list-style: none;
    position: absolute;
    top: 100%;
    width: 100%;
}